<section class="section pd-0px position-relative wf-section">
    <div class="container-default w-container">
      <div data-w-id="86dc2c9a-8355-d11d-c6d0-63d15044e93c" class="card cta-v2">
        <div class="position-relative z-index-1">
          <div class="inner-container _400px---mbl center">
            <div class="text-center---tablet">
              <div data-w-id="86dc2c9a-8355-d11d-c6d0-63d15044e940"
                class="w-layout-grid grid-2-columns title-and-buttons _1-col-tablet gap-row-64px">
                <div id="w-node-_86dc2c9a-8355-d11d-c6d0-63d15044e941-5044e93a"
                  class="inner-container _570px center---tablet">
                  <h2 class="display-2 color-neutral-100 mg-bottom-0">Newcastle University Research Software <span
                      class="image-text-undeline v3">Engineering.</span></h2>
                </div>
                <div class="buttons-row center---tablet">
                  <a href="contact.html" class="btn-primary white w-button">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-id="86dc2c9a-8355-d11d-c6d0-63d15044e94b" class="position-absolute circle-shape cta-v2---01">
        </div>
        <div data-w-id="86dc2c9a-8355-d11d-c6d0-63d15044e94c" class="position-absolute circle-shape cta-v2---02">
        </div>
      </div>
    </div>
    <div class="position-absolute cta-v2"></div>
  </section>
  <footer class="footer-wrapper">
    <div class="container-default w-container">
      <div data-w-id="e1afaba1-6f31-96be-8352-df425ff07672" class="footer-top-content">
        <div class="w-layout-grid footer-menu-grid">
          <div id="w-node-e1afaba1-6f31-96be-8352-df425ff07674-5ff07670" class="menu-wrapper">
            <div class="mg-bottom-40px">
              <div class="text-300 bold color-neutral-100">Pages</div>
            </div>
            <div class="nav-content">
              <ul role="list" class="nav-menu-list-wrapper w-list-unstyled">
                <li class="nav-menu-list-item">
                  <a href="../home-pages/home-v1.html" aria-current="page" class="nav-link light w--current">Home
                    V1</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../home-pages/home-v2.html" class="nav-link light">Home V2</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../home-pages/home-v3.html" class="nav-link light">Home V3</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../about.html" class="nav-link light">About</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../contact-pages/contact-v1.html" class="nav-link light">Contact V1</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../contact-pages/contact-v2.html" class="nav-link light">Contact V2</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../contact-pages/contact-v3.html" class="nav-link light">Contact V3</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../blog-pages/blog-v1.html" class="nav-link light">Blog V1</a>
                </li>
              </ul>
              <ul role="list" class="nav-menu-list-wrapper w-list-unstyled">
                <li class="nav-menu-list-item">
                  <a href="../blog-pages/blog-v2.html" class="nav-link light">Blog V2</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../blog-pages/blog-v3.html" class="nav-link light">Blog V3</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://staruptemplate.webflow.io/blog/new-feature-crm-integration-with-salesforce-com"
                    class="nav-link light">Blog post</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../integrations.html" class="nav-link light">Integrations</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://staruptemplate.webflow.io/integration/facebook" class="nav-link light">Integration
                    single</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../features.html" class="nav-link light">Features</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../careers.html" class="nav-link light">Careers</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://staruptemplate.webflow.io/career/mobile-developer" class="nav-link light">Career
                    Single</a>
                </li>
              </ul>
              <ul role="list" class="nav-menu-list-wrapper w-list-unstyled">
                <li class="nav-menu-list-item">
                  <a href="../team.html" class="nav-link light">Team</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://staruptemplate.webflow.io/team/john-carter" class="nav-link light">Team member</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../help-center.html" class="nav-link light">Help center</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://staruptemplate.webflow.io/help-center-category/getting-started"
                    class="nav-link light">Help center category</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://staruptemplate.webflow.io/help-center-article/how-to-create-a-free-starup-account"
                    class="nav-link light">Help center single</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../schedule-a-demo.html" class="nav-link light">Schedule a demo</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../pricing.html" class="nav-link light">Pricing</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://staruptemplate.webflow.io/product/business" class="nav-link light">Pricing
                    single</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="menu-wrapper">
            <div class="mg-bottom-40px">
              <div class="text-300 bold color-neutral-100">Utility pages</div>
            </div>
            <div class="nav-content">
              <ul role="list" class="nav-menu-list-wrapper w-list-unstyled">
                <li class="nav-menu-list-item">
                  <a href="../utility-pages/sign-up.html" class="nav-link light">Create account</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../utility-pages/sign-in.html" class="nav-link light">Sign in</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../utility-pages/forgot-password.html" class="nav-link light">Forgot password</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../utility-pages/email-confirmation.html" class="nav-link light">Confirm email</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../utility-pages/terms-conditions.html" class="nav-link light">Terms &amp; conditions</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../utility-pages/coming-soon.html" class="nav-link light">Coming Soon</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="menu-wrapper">
            <div class="mg-bottom-40px">
              <div class="text-300 bold color-neutral-100">Template pages</div>
            </div>
            <div class="nav-content">
              <ul role="list" class="nav-menu-list-wrapper w-list-unstyled">
                <li class="nav-menu-list-item">
                  <a href="../template-pages/start-here.html" class="nav-link light">Start here</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../template-pages/style-guide.html" class="nav-link light">Style guide</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://staruptemplate.webflow.io/404" class="nav-link light">404 not found</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://staruptemplate.webflow.io/401" class="nav-link light">Password protected</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../template-pages/licenses.html" class="nav-link light">Licenses</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="../template-pages/changelog.html" class="nav-link light">Changelog</a>
                </li>
                <li class="nav-menu-list-item">
                  <a data-w-id="0fcc12d9-7c7f-996d-c7f6-a6c6c285e1a2"
                    href="https://brixtemplates.com/more-webflow-templates" target="_blank"
                    class="link-wrapper white w-inline-block">
                    <div class="link-text">More Webflow Templates</div>
                    <div class="line-rounded-icon link-icon-right"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="menu-wrapper">
            <div class="mg-bottom-40px">
              <div class="text-300 bold color-neutral-100">Follow us</div>
            </div>
            <ul role="list" class="nav-menu-list-wrapper">
              <li class="nav-menu-list-item">
                <a href="https://facebook.com/" target="_blank"
                  class="social-media-link-wrapper light w-inline-block">
                  <div class="social-icon-square white size-24px">
                    <div class="social-icon-font"></div>
                  </div>
                  <div class="social-media-link-text">Facebook</div>
                </a>
              </li>
              <li class="nav-menu-list-item">
                <a href="https://twitter.com/" target="_blank" class="social-media-link-wrapper light w-inline-block">
                  <div class="social-icon-square white size-24px">
                    <div class="social-icon-font"></div>
                  </div>
                  <div class="social-media-link-text">Twitter</div>
                </a>
              </li>
              <li class="nav-menu-list-item">
                <a href="https://www.instagram.com/" target="_blank"
                  class="social-media-link-wrapper light w-inline-block">
                  <div class="social-icon-square white size-24px">
                    <div class="social-icon-font"></div>
                  </div>
                  <div class="social-media-link-text">Instagram</div>
                </a>
              </li>
              <li class="nav-menu-list-item">
                <a href="https://www.linkedin.com/" target="_blank"
                  class="social-media-link-wrapper light w-inline-block">
                  <div class="social-icon-square white size-24px">
                    <div class="social-icon-font"></div>
                  </div>
                  <div class="social-media-link-text">LinkedIn</div>
                </a>
              </li>
              <li class="nav-menu-list-item">
                <a href="http://youtube.com/" target="_blank" class="social-media-link-wrapper light w-inline-block">
                  <div class="social-icon-square white size-24px">
                    <div class="social-icon-font"></div>
                  </div>
                  <div class="social-media-link-text">YouTube</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div data-w-id="e1afaba1-6f31-96be-8352-df425ff07715" class="footer-bottom">
        <a id="w-node-e1afaba1-6f31-96be-8352-df425ff07716-5ff07670" href="../index.html"
          class="footer-logo-wrapper w-inline-block"><img src="../images/logo-white-starup-template.svg"
            alt="Logo - StarUp X Webflow Template" class="footer-logo"></a>
        <div class="inner-container _400px---mbl">
          <p class="color-neutral-400 mg-bottom-0">Copyright © StarUp X | Designed by <a
              href="https://brixtemplates.com/" target="_blank" class="text-link white">BRIX Templates</a> - Powered
            by <a href="https://webflow.com/" target="_blank" class="text-link white">Webflow</a>
          </p>
        </div>
      </div>
    </div>
  </footer>