<section class="section pd-0px position-relative wf-section">
    <div class="container-default w-container">
      <div data-w-id="86dc2c9a-8355-d11d-c6d0-63d15044e93c" class="card cta-v2">
        <div class="position-relative z-index-1">
          <div class="inner-container _400px---mbl center">
            <div class="text-center---tablet">
              <div data-w-id="86dc2c9a-8355-d11d-c6d0-63d15044e940"
                class="w-layout-grid grid-2-columns title-and-buttons _1-col-tablet gap-row-64px">
                <div id="w-node-_86dc2c9a-8355-d11d-c6d0-63d15044e941-5044e93a"
                  class="inner-container _570px center---tablet">
                  <h2 class="display-2 color-neutral-100 mg-bottom-0">Newcastle University Research Software <span
                      class="image-text-undeline v3">Engineering.</span></h2>
                </div>
                <div class="buttons-row center---tablet">
                  <a href="/contact" class="btn-primary white w-button">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-id="86dc2c9a-8355-d11d-c6d0-63d15044e94b" class="position-absolute circle-shape cta-v2---01">
        </div>
        <div data-w-id="86dc2c9a-8355-d11d-c6d0-63d15044e94c" class="position-absolute circle-shape cta-v2---02">
        </div>
      </div>
    </div>
    <div class="position-absolute cta-v2"></div>
  </section>
  <footer class="footer-wrapper">
    <div class="container-default w-container">
      <div data-w-id="e1afaba1-6f31-96be-8352-df425ff07672" class="footer-top-content">
        <div class="w-layout-grid footer-menu-grid">
          <div id="w-node-e1afaba1-6f31-96be-8352-df425ff07674-5ff07670" class="menu-wrapper">
            <div class="mg-bottom-40px">
              <div class="text-300 bold color-neutral-100">Menu</div>
            </div>
            <div class="nav-content">
              <ul role="list" class="nav-menu-list-wrapper w-list-unstyled">
                <li class="nav-menu-list-item">
                  <a href="/" class="nav-link light">Home</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="/events" class="nav-link light">Events</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="/team" class="nav-link light">Team</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="/projects" class="nav-link light">Projects</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="/contact" class="nav-link light">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="menu-wrapper">
            <div class="mg-bottom-40px">
              <div class="text-300 bold color-neutral-100">Policies</div>
            </div>
            <div class="nav-content">
              <ul role="list" class="nav-menu-list-wrapper w-list-unstyled">
                <li class="nav-menu-list-item">
                  <a href="/" class="nav-link light">Project Terms & Conditions</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="/" class="nav-link light">Public Cloud Usage</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="/" class="nav-link light">Recruitment</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="/" class="nav-link light">Internships</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="menu-wrapper">
            <div class="mg-bottom-40px">
              <div class="text-300 bold color-neutral-100">Partners</div>
            </div>
            <div class="nav-content">
              <ul role="list" class="nav-menu-list-wrapper w-list-unstyled">
                <li class="nav-menu-list-item">
                  <a href="https://newcastlejro.com/" target="_blank" class="nav-link light">NJRO</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://n8cir.org.uk/" target="_blank" class="nav-link light">N8 CIR</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://www.turing.ac.uk/" target="_blank" class="nav-link light">The Alan Turing Institute</a>
                </li>
                <li class="nav-menu-list-item">
                  <a href="https://www.nicd.org.uk/" target="_blank" class="nav-link light">National Innovation Centre for Data</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="menu-wrapper">
            <div class="mg-bottom-40px">
              <div class="text-300 bold color-neutral-100">Follow us</div>
            </div>
            <ul role="list" class="nav-menu-list-wrapper">
              <li class="nav-menu-list-item">
                <a href="https://twitter.com/ncl_rse" target="_blank"
                  class="social-media-link-wrapper light w-inline-block">
                  <div class="social-icon-square white size-24px">
                    <i class="lab la-twitter"></i>
                  </div>
                  <div class="social-media-link-text">Twitter</div>
                </a>
              </li>
              <li class="nav-menu-list-item">
                <a href="https://medium.com/newcastle-university-research-software-engineering/" target="_blank" class="social-media-link-wrapper light w-inline-block">
                  <div class="social-icon-square white size-24px">
                    <i class="lab la-medium"></i>
                  </div>
                  <div class="social-media-link-text">Medium</div>
                </a>
              </li>
              <li class="nav-menu-list-item">
                <a href="https://ukrse.slack.com" target="_blank" class="social-media-link-wrapper light w-inline-block">
                  <div class="social-icon-square white size-24px">
                    <i class="lab la-slack"></i>
                  </div>
                  <div class="social-media-link-text">Slack</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div data-w-id="e1afaba1-6f31-96be-8352-df425ff07715" class="footer-bottom">
        <a id="w-node-e1afaba1-6f31-96be-8352-df425ff07716-5ff07670" href="/"
          class="footer-logo-wrapper w-inline-block"><img src="../images/logo-white.png"
            alt="Newcastle University" class="footer-logo"></a>
        <div class="inner-container _400px---mbl">
          <p class="color-neutral-400 mg-bottom-0">Copyright © Newcastle University | Theme based on StarUp X by <a
              href="https://brixtemplates.com/" target="_blank" class="text-link white">BRIX Templates</a>
          </p>
        </div>
      </div>
    </div>
  </footer>