<div data-w-id="4c545ca5-e4a5-cc2a-2be6-c5699430d58a" data-animation="default" data-collapse="medium"
      data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="header-wrapper w-nav">
      <div class="container-default w-container">
        <div class="header-content-wrapper">
          <a href="index.html" class="header-logo-link w-nav-brand"><img src="images/ncl_logo.svg"
              alt="Newcastle University" class="header-logo"></a>
          <div class="header-right-side">
            <nav role="navigation" class="header-nav-menu-wrapper w-nav-menu">
              <ul role="list" class="header-nav-menu-list">
                <li class="header-nav-list-item">
                  <a href="../index.html" class="header-nav-link w-nav-link">Home</a>
                </li>
                <li class="header-nav-list-item">
                  <a href="../projects.html" class="header-nav-link w-nav-link">Projects</a>
                </li>
                <li class="header-nav-list-item">
                  <a href="../events.html" class="header-nav-link w-nav-link">Events</a>
                </li>
                <li class="header-nav-list-item">
                  <a href="../team.html" class="header-nav-link w-nav-link">Team</a>
                </li>
                <li class="header-nav-list-item">
                  <a href="../contact.html" class="header-nav-link w-nav-link">Contact</a>
                </li>
              </ul>
            </nav>
            <div class="hamburger-menu-wrapper w-nav-button">
              <div class="hamburger-menu-icon">
                <div class="hamburger-menu-bar top"></div>
                <div class="hamburger-menu-bar bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>