<section class="section overflow-hidden wf-section">
  <div class="container-default w-container">
    <div class="inner-container _600px---tablet center">
      <div class="inner-container _500px---mbl center">
        <div class="position-relative">
          <div class="position-relative z-index-1">
            <div class="mg-bottom-40px">
              <div class="inner-container _623px center">
                <div class="text-center">
                  <h2 class="display-2 mg-bottom-8px">Visit our office</h2>
                  <p>We're located in the Elizabeth Barraclough Building on Sandyford Road, next to the Marjorie Robinson Library Rooms.</p>
                </div>
              </div>
            </div>
            <div class="tabs-menu-left-wrapper w-tabs">
              <div class="tabs-menu-left-menu w-tab-menu">
                <a class="tab-menu-left-link w-inline-block w-tab-link w--current">
                  <div class="flex-horizontal tab-menu-left-link-wrapper">
                    <div class="tab-menu-left-link-content">
                      <div class="text-400 bold mg-bottom-20px">Newcastle University Research Software Engineering</div>
                      <div class="text-300 medium mg-bottom-10px">Elizabeth Barraclough Building</div>
                      <div class="text-300 medium mg-bottom-10px">91 Sandyford Road</div>
                      <div class="text-300 medium mg-bottom-10px">Newcastle Upon Tyne</div>
                      <div class="text-300 medium">NE1 8HW</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tabs-menu-left-content w-tab-content">
                <div class="w-tab-pane w--tab-active">
                  <div class="image-wrapper border-radius-24px"><img
                      sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 600px, (max-width: 1439px) 52vw, 742px"
                      srcset="/images/catalyst.jpeg 500w, /images/catalyst.jpeg 800w, /images/catalyst.jpeg 1080w, /images/catalyst.jpeg 1484w"
                      loading="eager" src="/images/catalyst.jpeg"
                      alt="The Elizabeth Barraclough Building" class="image cover"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="position-absolute offices-v2---01">
            <div class="image-wrapper shape-animation"><img src="/images/shape-1-offices-v1-starup-template.svg"
                loading="eager" alt="" class="image cover"></div>
          </div>
          <div class="position-absolute offices-v2---02">
            <div class="image-wrapper shape-animation"><img src="/images/shape-2-offices-v1-starup-template.svg"
                loading="eager" alt="" class="image cover"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>