<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
<!--  Last Published: Sun Feb 12 2023 13:44:49 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="63dbbe340a7bc093ebd9a844" data-wf-site="63dbbe340a7bc0aa9ed9a71c">
{% include header.html %}

<body>
  <div class="page-wrapper">
    {% include navbar.html %}
    <section class="section hero v9 wf-section">
      <div class="container-default w-container">
        <div class="inner-container _600px---tablet center">
          <div class="inner-container _500px---mbl center">
            <div class="position-relative z-index-1">
              <div class="position-relative z-index-1">
                <div class="mg-bottom-40px">
                  <div class="inner-container _623px center">
                    <div class="text-center">
                      <h1 data-w-id="497c7d4f-215e-cb79-a4cd-64536669de90"
                        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                        class="display-1 mg-bottom-20px">Get in <span class="image-text-undeline v4">touch</span></h1>
                      <p data-w-id="56d4df5f-c5d6-6616-d3f3-6d1e3cc63b7b"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit et ac adipiscing quis enim mi turpis
                        etiam faucibus <span class="text-no-wrap">felis condimentu.</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <div class="position-relative z-index-1">
                  <div data-w-id="0034b3ea-a549-3a91-91f9-d5b41eb706e4"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                    class="card contact-form-side">
                    <div class="w-layout-grid grid-2-columns contact-form-side-details">
                      <div class="contact-form-left-side">
                        <div class="inner-container _554px center">
                          <div class="contact-form-left-side-block w-form">
                            <form id="email-form" name="email-form" data-name="Email Form" method="get"
                              aria-label="Email Form">
                              <div class="form">
                                <div class="mg-bottom-20px"><label for="Name-8">Name</label><input type="text" class="input w-input"
                                    maxlength="256" name="Name-2" data-name="Name 2" placeholder=""
                                    id="Name-2"></div>
                                <div class="mg-bottom-20px"><label for="Email-8">Email</label><input type="email" class="input w-input"
                                    maxlength="256" name="Email-2" data-name="Email 2" placeholder=""
                                    id="Email-2"></div>
                                <div class="mg-bottom-20px" id="w-node-_0034b3ea-a549-3a91-91f9-d5b41eb706fa-893f2799"><label
                                    for="Message-8">Leave us a message</label><textarea
                                    placeholder="Please type your message here..." maxlength="5000" id="Message-2"
                                    name="Message-2" data-name="Message 2" class="text-area w-input"></textarea></div>
                                <input type="submit" value="Send Message" data-wait="Please wait..."
                                  id="w-node-_0034b3ea-a549-3a91-91f9-d5b41eb706fe-893f2799"
                                  class="btn-primary w-button">
                              </div>
                            </form>
                            <div class="success-message w-form-done" tabindex="-1" role="region"
                              aria-label="Email Form success">
                              <div>
                                <div class="line-rounded-icon success-message-check large"></div>
                                <div>Your message has been submitted. <br>We will get back to you within <span>24-48
                                    hours.</span></div>
                              </div>
                            </div>
                            <div class="error-message w-form-fail" tabindex="-1" role="region"
                              aria-label="Email Form failure">
                              <div>Oops! Something went wrong.</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="contact-form-right-side">
                        <div class="inner-container _408px center _100---tablet">
                          <h2 class="heading-h3-size color-neutral-100 mg-bottom-8px">Contact details</h2>
                          <p class="color-neutral-300 mg-bottom-32px">Lorem ipsum dolor sit amet consectetur adipisc
                            elit tortor eu egestas morbi <span class="text-no-wrap">sem vulputate.</span></p>
                          <div class="flex-horizontal contact-details-wrapper">
                            <div class="mg-right-32px">
                              <div class="text-200 bold color-neutral-100">Email</div><a
                                href="mailto:contact@starup.com"
                                class="text-200 color-neutral-100 text-decoration-none">contact@starup.com</a>
                            </div>
                            <div>
                              <div class="text-200 bold color-neutral-100">Phone</div><a href="tel:(415)456-789"
                                class="text-200 color-neutral-100 text-decoration-none">(415) 456 - 789</a>
                            </div>
                          </div>
                          <div class="divider _64px bg-neutral-600"></div>
                          <h2 class="heading-h3-size color-neutral-100 mg-bottom-8px">Follow us on <span
                              class="text-no-wrap">social media</span></h2>
                          <p class="color-neutral-300 mg-bottom-32px">Blandit aliquam etiam erat velit scelerisque in
                            auctor urna nunc id <span class="text-no-wrap">cursus metus.</span></p>
                          <div class="w-layout-grid social-media-grid-top"><a href="https://facebook.com/"
                              target="_blank" class="social-icon-square white w-inline-block">
                              <div class="social-icon-font"></div>
                            </a><a href="https://twitter.com/" target="_blank"
                              class="social-icon-square white w-inline-block">
                              <div class="social-icon-font"></div>
                            </a><a href="https://www.instagram.com/" target="_blank"
                              class="social-icon-square white w-inline-block">
                              <div class="social-icon-font"></div>
                            </a><a href="https://www.linkedin.com/" target="_blank"
                              class="social-icon-square white w-inline-block">
                              <div class="social-icon-font"></div>
                            </a><a href="http://youtube.com/" target="_blank"
                              class="social-icon-square white w-inline-block">
                              <div class="social-icon-font"></div>
                            </a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-w-id="815f9549-2082-267f-e2a4-9ab13b5105f2"
                  style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                  class="position-absolute contact-form-side---01">
                  <div class="image-wrapper shape-animation"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1.0346deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                    <img
                      src="https://assets.website-files.com/62b38c698569747d49fc8e96/62be1c076a5aaf9c4e080d27_shape-1-contact-form-v2-starup-template.svg"
                      loading="eager" alt="" class="image cover"></div>
                </div>
                <div data-w-id="6fbee107-2bd4-e066-0121-047e45b2eee6"
                  style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                  class="position-absolute contact-form-side---02">
                  <div class="image-wrapper shape-animation"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1.0346deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                    <img
                      src="https://assets.website-files.com/62b38c698569747d49fc8e96/62be1c065a37abfc285d4579_shape-2-contact-form-v2-starup-template.svg"
                      loading="eager" alt="" class="image cover"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="b8aa2543-bcce-5858-16d5-d78aa09e3781" style="opacity: 1;"
        class="position-absolute contact-form-side-bg">
        <div data-w-id="c962bdfd-9335-7df7-e5af-10950bf21862"
          style="transform: translate3d(0px, 80%, 0px) scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 0; transform-style: preserve-3d;"
          class="position-absolute circle-shape contact-form-side-shape---01"></div>
        <div data-w-id="afb32491-8114-b89a-285b-8f84327a3201"
          style="transform: translate3d(0px, 80%, 0px) scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 0; transform-style: preserve-3d;"
          class="position-absolute circle-shape contact-form-side-shape---02"></div>
      </div>
    </section>
    {% include footer.html %}
  </div>
  {% include loader.html %}
  {% include scripts.html %}
</body>

</html>