<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
<!--  Last Published: Sun Feb 12 2023 13:44:49 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="63dbbe340a7bc093ebd9a844" data-wf-site="63dbbe340a7bc0aa9ed9a71c">
{% include header.html %}

<body>
  <div class="page-wrapper">
    {% include navbar.html %}
    <section class="section hero v9 wf-section" style="border-bottom: none">
      <div class="container-default w-container">
        <div class="inner-container _600px---tablet center">
          <div class="inner-container _500px---mbl center">
            <div class="position-relative z-index-1">
              <div class="position-relative z-index-1">
                <div class="mg-bottom-40px">
                  <div class="inner-container _623px center">
                    <div class="text-center">
                      <h1 data-w-id="497c7d4f-215e-cb79-a4cd-64536669de90"
                        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                        class="display-1 mg-bottom-20px">Get in <span class="image-text-undeline v4">touch</span></h1>
                      <p data-w-id="56d4df5f-c5d6-6616-d3f3-6d1e3cc63b7b"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;">
                        Want to talk to us about a project or a service we offer? Get in touch using one of the methods below.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <div class="position-relative z-index-1">
                  <div data-w-id="0034b3ea-a549-3a91-91f9-d5b41eb706e4"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                    class="card contact-form-side">
                    <div class="w-layout-grid grid-2-columns contact-form-side-details">
                      <div class="contact-form-left-side">
                        <div class="inner-container _554px center">
                          <div class="key-people">
                            <div class="key-person">
                              <h3>Mark Turner</h3>
                              <h5><strong>Head of Research Software Engineering</strong></h5>
                              <h5><a href="mailto:mark.turner@newcastle.ac.uk" class="text-decoration-none">mark.turner@newcastle.ac.uk</a></h5>
                            </div>
                            <div class="key-person">
                              <h3>Kate Court</h3>
                              <h5><strong>Head of Middleware & Data Science</strong></h5>
                              <h5><a href="mailto:kate.court@newcastle.ac.uk" class="text-decoration-none">kate.court@newcastle.ac.uk</a></h5>
                            </div>
                            <div class="key-person">
                              <h3>Rebecca Osselton</h3>
                              <h5><strong>Head of Web & Mobile</strong></h5>
                              <h5><a href="mailto:rebecca.osselton@newcastle.ac.uk" class="text-decoration-none">rebecca.osselton@newcastle.ac.uk</a></h5>
                            </div>
                            <div class="key-person">
                              <h3>Jannetta Steyn</h3>
                              <h5><strong>Head of Training and Community</strong></h5>
                              <h5><a href="mailto:jannetta.steyn@newcastle.ac.uk" class="text-decoration-none">jannetta.steyn@newcastle.ac.uk</a></h5>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="contact-form-right-side">
                        <div class="inner-container _408px center _100---tablet">
                          <h2 class="heading-h3-size color-neutral-100 mg-bottom-8px">Contact details</h2>
                          <p class="color-neutral-300 mg-bottom-32px">You can email us directly at the team mailbox.</p>
                          <div class="flex-horizontal contact-details-wrapper">
                            <div class="mg-right-32px">
                              <div class="text-200 bold color-neutral-100">Email</div><a
                                href="mailto:rseteam@newcastle.ac.uk"
                                class="text-200 color-neutral-100 text-decoration-none">rseteam@newcastle.ac.uk</a>
                            </div>
                          </div>
                          <div class="divider _64px bg-neutral-600"></div>
                          <h2 class="heading-h3-size color-neutral-100 mg-bottom-8px">Follow us on <span
                              class="text-no-wrap">social media</span></h2>
                          <p class="color-neutral-300 mg-bottom-32px">We're on Bluesky, Mastodon, Medium and GitHub.</span></p>
                          <div class="w-layout-grid social-media-grid-top">
                            <a href="https://bsky.app/profile/ncl-rse.bsky.social" target="_blank"
                              class="social-icon-square white w-inline-block">
                              <i class="fa-brands fa-bluesky"></i>
                            </a>
                            <a href="https://mastodon.social/@ncl_rse" target="_blank"
                              class="social-icon-square white w-inline-block">
                              <i class="lab la-mastodon"></i>
                            </a>
                            <a href="https://medium.com/newcastle-university-research-software-engineering/" target="_blank"
                              class="social-icon-square white w-inline-block">
                              <i class="lab la-medium"></i>
                            </a>
                            <a href="https://github.com/NewcastleRSE" target="_blank"
                              class="social-icon-square white w-inline-block">
                              <i class="lab la-github"></i>
                            </a>
                          </div>
                          <p class="color-neutral-300 mg-bottom-32px"><br>All our links, including featured posts and events news, can also be found on our Linktree:.</span></p>
                          <a href="https://linktr.ee/ncl_rse" class="text-200 color-neutral-100 text-decoration-none">linktr.ee/ncl_rse</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-w-id="815f9549-2082-267f-e2a4-9ab13b5105f2"
                  style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                  class="position-absolute contact-form-side---01">
                  <div class="image-wrapper shape-animation"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1.0346deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                    <img
                      src="https://assets.website-files.com/62b38c698569747d49fc8e96/62be1c076a5aaf9c4e080d27_shape-1-contact-form-v2-starup-template.svg"
                      loading="eager" alt="" class="image cover">
                  </div>
                </div>
                <div data-w-id="6fbee107-2bd4-e066-0121-047e45b2eee6"
                  style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                  class="position-absolute contact-form-side---02">
                  <div class="image-wrapper shape-animation"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1.0346deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                    <img
                      src="https://assets.website-files.com/62b38c698569747d49fc8e96/62be1c065a37abfc285d4579_shape-2-contact-form-v2-starup-template.svg"
                      loading="eager" alt="" class="image cover">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="b8aa2543-bcce-5858-16d5-d78aa09e3781" style="opacity: 1;"
        class="position-absolute contact-form-side-bg">
        <div data-w-id="c962bdfd-9335-7df7-e5af-10950bf21862"
          class="position-absolute circle-shape contact-form-side-shape---01"></div>
        <div data-w-id="afb32491-8114-b89a-285b-8f84327a3201"
          class="position-absolute circle-shape contact-form-side-shape---02"></div>
      </div>
    </section>
    {% include visit-us.html %}
    {% include footer.html %}
  </div>
  {% include loader.html %}
  {% include scripts.html %}
</body>

</html>
