<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
<!--  Last Published: Sun Feb 12 2023 13:44:49 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="63dbbe340a7bc093ebd9a844" data-wf-site="63dbbe340a7bc0aa9ed9a71c">
{% include header.html %}

<body>
  <div class="page-wrapper">
    {% include navbar.html %}
    <section class="section hero v9 wf-section" style="border-bottom: none">
      <div class="container-default w-container">
        <div class="inner-container _600px---tablet center">
          <div class="inner-container _500px---mbl center">
            <div class="position-relative z-index-1">
              <div class="position-relative z-index-1">
                <div class="mg-bottom-40px">
                  <div class="inner-container _800px center">
                    <div class="text-center">
                      <h1 data-w-id="497c7d4f-215e-cb79-a4cd-64536669de90"
                        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d; font-size: 2.0em;"
                        class="display-1 mg-bottom-20px">RSE Discovery Day - 17th March 2026</h1>
                      <h2>Boiler House</h2>
                      <p data-w-id="56d4df5f-c5d6-6616-d3f3-6d1e3cc63b7b"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d; font-size: 0.5em;">
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <div class="position-relative z-index-1">
                  <div data-w-id="0034b3ea-a549-3a91-91f9-d5b41eb706e4"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                    class="card contact-form-side">
                    <div class="inner-container center mg-top-80px mg-bottom-80px style---content-wrapper">
                      <div class="inner-container">
                        <h3>Discover how digital technology can enhance your research </h3>
                        <p>Are you looking for a new angle for your research? Do you need to develop custom software for
                          your project, analyse data in your research, or build a website to disseminate your research?
                          Could your research be improved by AI or other machine learning techniques? Are you using all
                          the resources the university has to help you? </p>
                        <p>Come along to our <em>RSE Discovery Day</em> to learn more and connect with experts who can
                          help you leverage digital technologies.</p>
                      </div>

                      <div class="buttons-row" >
                        <a href="https://forms.office.com/e/pR6Uxh1c0e?embed=true" target="_blank"
                          class="btn-primary small w-button"
                          style="margin-right: 20px; background-color: #ff6871; border: 0;">Register</a>
                      </div>

                      <div class="inner-container mg-top-40px center">
                        <h3>Agenda</h3>

                        <p>10am - <strong>Welcome coffee</strong> setup and drop ins. </p>

                        <p style="margin-left: 10px;"><em>RSE Drop in Booth</em> come talk to an RSE about your project
                          ideas! </p>

                        <p>11am - <strong>Short talks</strong> 3 talks, 20 mins each including question time </p>

                        <p style="margin-left: 10px;"><em>RSE team part I</em> - Who are we, what do we do? (15 mins)
                        </p>

                        <p style="margin-left: 10px;"><span style="font-weight: 500">Library Research Services - Bogdan
                            Metes (15 mins) </span></p>

                        <p style="margin-left: 10px;"><em>Comet HPC</em> (15 mins) </p>

                        <p>12pm - <strong>Networking Lunch</strong> </p>

                        <p style="margin-left: 10px;">Lightning talks (testimonials, PS research support showcases) </p>

                        <p style="margin-left: 10px;"><em>RSE Drop in Booth</em> come talk to an RSE about your project
                          ideas! </p>

                        <p>2pm - <strong>Short talks</strong> 3 talks, 20 mins each including question time </p>

                        <p style="margin-left: 10px;"><em>RSE team II</em> - Services, how we work (15 mins) </p>
                        <p style="margin-left: 10px;"><span style="font-weight: 500">Research Funding Development -
                            Johanna Gascoine-Owens (15 mins) </span></p>

                        <p style="margin-left: 10px;"><em>Training</em> (15 mins) </p>

                        <p>3pm - <strong>Wrap up tea, coffee and networking</strong> </p>
                        <p style="margin-left: 10px;"><em>RSE Drop in Booth</em> come talk to an RSE about your project
                          ideas! </p>

                      </div>
                      <div
                        style="margin-top: 40px; font-size: 1.2rem; border: solid 0.2rem rgb(75, 132, 255); border-radius: 10px; padding: 1rem 1.5rem 1rem 1.5rem; background-color: rgba(75, 132, 255, 0.1); @media screen and (max-width: 767px) {
width: 100%;
                            } max-width: 66.6667%; margin-left: auto; margin-right: auto; box-shadow: 5px 5px 10px rgba(75, 132, 255, 0.157);">
                        <strong style="color: rgb(32, 54, 100);">When:</strong> 17th March 2026, 10am - 4pm <br>
                        <strong style="color: rgb(32, 54, 100);">Where:</strong> Boiler House, Newcastle Helix <br>
                        <strong style="color: rgb(32, 54, 100);">Who:</strong> Researchers, Academics, Research Support
                        Staff, Research Software Engineers <br>
                      </div>

                    </div>
                    <div data-w-id="815f9549-2082-267f-e2a4-9ab13b5105f2"
                      style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                      class="position-absolute contact-form-side---01">
                      <div class="image-wrapper shape-animation"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1.0346deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                        <img
                          src="https://assets.website-files.com/62b38c698569747d49fc8e96/62be1c076a5aaf9c4e080d27_shape-1-contact-form-v2-starup-template.svg"
                          loading="eager" alt="" class="image cover">
                      </div>
                    </div>
                    <div data-w-id="6fbee107-2bd4-e066-0121-047e45b2eee6"
                      style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                      class="position-absolute contact-form-side---02">
                      <div class="image-wrapper shape-animation"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1.0346deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                        <img
                          src="https://assets.website-files.com/62b38c698569747d49fc8e96/62be1c065a37abfc285d4579_shape-2-contact-form-v2-starup-template.svg"
                          loading="eager" alt="" class="image cover">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-w-id="b8aa2543-bcce-5858-16d5-d78aa09e3781" style="opacity: 1;"
            class="position-absolute contact-form-side-bg">
            <div data-w-id="c962bdfd-9335-7df7-e5af-10950bf21862"
              class="position-absolute circle-shape contact-form-side-shape---01"></div>
            <div data-w-id="afb32491-8114-b89a-285b-8f84327a3201"
              class="position-absolute circle-shape contact-form-side-shape---02"></div>
          </div>
    </section>
    <section class="section overflow-hidden wf-section">
      <div class="container-default w-container">
        <div class="inner-container _600px---tablet center">
          <div class="inner-container _500px---mbl center">
            <div class="position-relative">
              <div class="position-relative z-index-1">
                <div class="mg-bottom-40px">
                  <div class="inner-container _623px center">
                    <div data-w-id="2e374721-f595-97d0-634b-2bf05a0c237e"
                      style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="text-center">
                      <h2 class="display-2 mg-bottom-8px">Visit our office</h2>
                      <p>We're located in the Catalyst Building on the Helix site in the centre of Newcastle. </p>
                    </div>
                  </div>
                </div>
                <div data-w-id="e3e8623c-f64f-d5c8-4452-4428ba67f625"
                  style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  class="tabs-menu-left-wrapper w-tabs">
                  <div class="tabs-menu-left-menu w-tab-menu">
                    <a class="tab-menu-left-link w-inline-block w-tab-link w--current">
                      <div class="flex-horizontal tab-menu-left-link-wrapper">
                        <div class="tab-menu-left-link-content">
                          <div class="text-400 bold mg-bottom-20px">Newcastle University Research Software Engineering
                          </div>
                          <div class="text-300 medium mg-bottom-10px">Catalyst Building</div>
                          <div class="text-300 medium mg-bottom-10px">Room 2.01</div>
                          <div class="text-300 medium mg-bottom-10px">3 Science Square</div>
                          <div class="text-300 medium mg-bottom-10px">Newcastle Helix</div>
                          <div class="text-300 medium mg-bottom-10px">Newcastle</div>
                          <div class="text-300 medium">NE4 5TG</div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="tabs-menu-left-content w-tab-content">
                    <div class="w-tab-pane w--tab-active">
                      <div class="image-wrapper border-radius-24px"><img
                          sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 600px, (max-width: 1439px) 52vw, 742px"
                          srcset="../images/catalyst.jpeg 500w, ../images/catalyst.jpeg 800w, ../images/catalyst.jpeg 1080w, ../images/catalyst.jpeg 1484w"
                          loading="eager" src="../images/catalyst.jpeg" alt="The Catalyst Building" class="image cover">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-w-id="bbea0194-2a48-b9a7-9fa5-2bef649e9dc1"
                style="-webkit-transform:translate3d(0, 80%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                class="position-absolute offices-v2---01">
                <div class="image-wrapper shape-animation"><img src="../images/shape-1-offices-v1-starup-template.svg"
                    loading="eager" alt="" class="image cover"></div>
              </div>
              <div data-w-id="6e933457-be61-a420-0afa-6de7c95995b6"
                style="-webkit-transform:translate3d(0, 80%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                class="position-absolute offices-v2---02">
                <div class="image-wrapper shape-animation"><img src="../images/shape-2-offices-v1-starup-template.svg"
                    loading="eager" alt="" class="image cover"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
  </div>
  {% include loader.html %}
  {% include scripts.html %}
</body>

</html>