<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
<!--  Last Published: Sun Feb 12 2023 13:44:49 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="63dbbe340a7bc07186d9a783" data-wf-site="63dbbe340a7bc0aa9ed9a71c">
{% include header.html %}

<body>
    <div class="page-wrapper">
        {% include navbar.html %}
        <div class="section hero v7 wf-section">
            <div class="container-default w-container">
                <div class="position-relative z-index-1">
                    <div class="inner-container _1072px center">
                        <div class="mg-bottom-30px keep">
                            <div class="inner-container _736px center">
                                <div class="inner-container _600px---mbl center">
                                    <div class="text-center">
                                        <div data-w-id="9392e0fc-a0ab-5145-8b0a-ba8eb72e3bf6"
                                            style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                                            class="mg-bottom-32px">
                                            <div class="inner-container _100px center">
                                                <div class="inner-container _83px---mbl center">
                                                    <div class="image-wrapper border-radius-28px"><img
                                                            src="https://assets.website-files.com/62b38c698569741f3afc8ebd/62c4a79db6c7165ca880a673_icon-6-help-center-categories-starup-template.svg"
                                                            loading="eager" alt="Getting started" class="image cover">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h1 data-w-id="3e05b5b1-5696-652c-4057-62c8b60f956c"
                                            style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                                            class="display-1 mg-bottom-12px">Upcoming Events</h1>
                                        <p data-w-id="af7adc11-39e5-89ac-ff5c-25364c5dcb87"
                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;">
                                            The team is involved in a range of activities across the University and its partners, including community meetups, training courses and workshops.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="83b36513-e291-495f-fa0a-b2e94ca90574"
                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                            class="w-dyn-list">
                            <div role="list" class="grid-1-column gap-row-24px w-dyn-items">
                                <div role="listitem" class="w-dyn-item"><a
                                        data-w-id="985a1a00-2c5e-2f6d-7e76-969769be876b"
                                        href="/help-center-article/how-to-create-a-free-starup-account"
                                        class="card link-card help-center-post w-inline-block">
                                        <div class="card-help-center-post-wrapper">
                                            <div class="card-help-center-post-content">
                                                <h2 class="display-4 mg-bottom-8px">How to create a free StarUp account?
                                                </h2>
                                                <p class="mg-bottom-24px">Lorem ipsum dolor sit amet consectetur
                                                    adipiscing elit adipiscing et dolor sit imperdiet cursus diam
                                                    pellentesque velit lobortis consectetur.</p>
                                                <div class="link-wrapper">
                                                    <div class="link-text">More</div>
                                                    <div class="line-rounded-icon link-icon-right"></div>
                                                </div>
                                            </div>
                                            <div class="card-help-center-post-author-wrapper">
                                                <div class="inner-container _64px card-help-center-post-author-avatar">
                                                    <div class="image-wrapper image-circle"><img
                                                            src="https://assets.website-files.com/62b38c698569741f3afc8ebd/62b4f4d5910aad15a28f612a_avatar-2-team-starup-template.jpg"
                                                            loading="eager" alt="Sophie Moore" class="image cover">
                                                    </div>
                                                </div>
                                                <div class="card-help-center-post-author-content">
                                                    <div class="mg-bottom-8px">
                                                        <div class="text-200 bold color-neutral-800">Sophie Moore</div>
                                                    </div>
                                                    <div class="text-200 medium">Jul 5, 2022</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-absolute help-center-category-bg"></div>
        </div>
        {% include footer.html %}
    </div>
    {% include loader.html %}
    {% include scripts.html %}
</body>

</html>