{% include header.html %}
<body>
  <div class="page-wrapper">
    {% include navbar.html %}
    <div class="section career-page wf-section">
      <div class="container-default w-container"></div>
      <div class="container-default w-container">
        <div data-w-id="7b8840e9-3b50-318e-305d-3e453af828f5"
          style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
          class="mg-bottom-64px"><a data-w-id="0f07894c-274e-65c5-c4a0-96e2fbeb6f22" href="/events"
            class="link-wrapper w-inline-block">
            <i class="las la-arrow-left"></i>
            <div class="link-text">All Events</div>
          </a></div>
        <div class="inner-container _987px center">
          <div class="position-relative">
            <div class="position-relative z-index-1">
              <div data-w-id="d62db57a-b0db-484d-d1f4-64de214b18c7"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                class="card career-page">
                <div class="image-wrapper career-page-image"><img
                    src="https://assets.website-files.com/62b38c698569741f3afc8ebd/62bf8f078758bbf0557f8ec7_cover-career-starup-template.svg"
                    loading="eager" alt="Mobile Developer" class="image cover"></div>
                <div class="card-career-page-content">
                  <div data-w-id="56eb325b-a241-caf9-1e2a-a075bbdef537"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                    class="mg-bottom-20px">
                    <div class="inner-container _164px">
                      <div class="inner-container _135px---mbl">
                        <div class="inner-container _113px---mbp">
                          <div class="image-wrapper career-category-icon-page" style="width:150px; height:150px">
                            {% if page.type == 'Code Community' %}
                              <div class="image-wrapper" style="background-color: #15c6b4; text-align: center; height:150px">
                                  <i class="display-1 las la-users" style="color: white;"></i>
                              </div>
                            {% elsif page.type == 'Training' %}
                              <div class="image-wrapper" style="background-color: #4b84ff; text-align: center; height:150px">
                                  <i class="display-1 las la-chalkboard-teacher" style="color: white;"></i>
                              </div>
                            {% else %}
                              <div class="image-wrapper" style="background-color: #ff6871; text-align: center; height:150px">
                                  <i class="display-1 las la-calendar" style="color: white;"></i>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-w-id="9970daf9-d935-a3f9-54ac-ae9a7a484756"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                    class="card-career-page-content-top">
                    <div class="card-career-page-main-content">
                      <h1 class="display-2 mg-bottom-13px">{{page.title}}</h1>
                      <div class="card-career-page-details">
                        <div class="text-200 medium">{{page.date}}</div>
                        <div class="text-divider _20px"></div>
                        <div class="text-200 medium">{{page.location}}</div>
                      </div>
                    </div>
                    <div class="buttons-row"><a href="{{page.link}}" target="_blank" class="btn-primary small w-button">Register</a></div>
                  </div>
                  <div data-w-id="c751d256-bf53-39a0-e2cc-83fd2d9f37f3"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                    class="divider _65px"></div>
                  <div data-w-id="e82acad3-a86f-0653-48e7-be61bcde77f1"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                    class="rich-text w-richtext">
                    <p>{{page.description}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-id="687febe7-71f9-e156-ed2f-8b73e69801b2"
              style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
              class="position-absolute career-page-shape---01">
              <div class="image-wrapper shape-animation"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <img
                  src="https://assets.website-files.com/62b38c698569747d49fc8e96/62bf93098758bb78c37fb28f_shape-career-page-starup-template.svg"
                  loading="eager" alt="" class="image"></div>
            </div>
            <div data-w-id="70bdf4a4-842c-d4ed-1582-0e5f45161471"
              style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
              class="position-absolute career-page-shape---02">
              <div class="image-wrapper shape-animation"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(2deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <img
                  src="https://assets.website-files.com/62b38c698569747d49fc8e96/62bdcc1804b51e621f19d66f_shape-1-contact-form-v1-starup-template.svg"
                  loading="eager" alt="" class="image"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </div>
  {% include loader.html %}
  {% include scripts.html %}
</body>

</html>