<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
<!--  Last Published: Sun Feb 12 2023 13:44:49 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="63dbbe340a7bc093ebd9a844" data-wf-site="63dbbe340a7bc0aa9ed9a71c">
{% include header.html %}

<body>
  <div class="page-wrapper">
    {% include navbar.html %}
    <section class="section hero v18 wf-section">
      <div class="container-default w-container">
        <div class="inner-container _500px---mbl center">
          <div class="position-relative z-index-1">
            <div class="mg-bottom-64px">
              <div class="position-relative">
                <div class="inner-container _625px center">
                  <div class="position-relative z-index-1">
                    <div class="text-center">
                      <h1 data-w-id="7e95c7f1-c8ea-711b-d4fe-51ab0457dbaa"
                        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                        class="display-1"><span class="image-text-undeline v6">Projects</span></h1>
                      <div class="inner-container _400px---mbl center">
                        <p data-w-id="c1633e7e-8620-a2c7-5d6f-c8ab9984edb5"
                          style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                          class="mg-bottom-24px">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                          tempor incididunt ut labore et dolore drakong <span class="text-no-wrap">doler ipsum.</span>
                        </p>
                      </div>
                      <div data-w-id="d3e483f9-6ecd-690f-08ca-55df57f46d25"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                        class="buttons-row center"><a href="/utility-pages/sign-up" class="btn-primary w-button">Get
                          started</a></div>
                    </div>
                  </div>
                </div>
                <div data-w-id="d6be7fc7-b5a8-032e-612a-510fc18a403c"
                  style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                  class="position-absolute features-shape---01">
                  <div class="image-wrapper shape-animation"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0.00958deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                    <img
                      src="https://assets.website-files.com/62b38c698569747d49fc8e96/62bdcc1804b51e621f19d66f_shape-1-contact-form-v1-starup-template.svg"
                      loading="eager" alt="" class="image cover"></div>
                </div>
                <div data-w-id="133039f1-a72a-eae7-7d6f-c455d4f5dd12"
                  style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                  class="position-absolute features-shape---02">
                  <div class="image-wrapper shape-animation"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0.00958deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                    <img
                      src="https://assets.website-files.com/62b38c698569747d49fc8e96/62bb98259379f8134fcc1033_shape-1-press-starup-template.svg"
                      loading="eager" alt="" class="image cover"></div>
                </div>
              </div>
            </div>
            <div data-w-id="3f0a4b85-c7f2-8283-22da-c4d7e2dc12bf"
              style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
              class="position-relative z-index-1">
              <div class="w-layout-grid grid-3-columns">
                <div id="w-node-_46d1ef9d-c5e2-7cff-b6a7-f4fecefbf04e-ed89fd59" class="card feature-v2-grid">
                  <div class="mg-bottom-32px">
                    <div class="inner-container _95px center">
                      <div class="inner-container _80px---mbl center">
                        <div class="image-wrapper border-radius-28px"><img
                            src="https://assets.website-files.com/62b38c698569747d49fc8e96/62bb2bb9861aa5280aee7087_icon-6-features-v3-starup-template.svg"
                            loading="eager" alt="User Information - StarUp X Webflow Template" class="image cover">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <h3>User information</h3>
                    <p class="mg-bottom-0">Lorem ipsum dolor sit amet consectet adipiscing elit tortor venenatis eros
                      vitae quis rincidunt dolor sit amet con dolor sit amet <span class="text-no-wrap">consectur
                        dol.</span></p>
                  </div>
                </div>
                <div id="w-node-_46d1ef9d-c5e2-7cff-b6a7-f4fecefbf05b-ed89fd59" class="card feature-v2-grid">
                  <div class="mg-bottom-32px">
                    <div class="inner-container _95px center">
                      <div class="inner-container _80px---mbl center">
                        <div class="image-wrapper border-radius-28px"><img
                            src="https://assets.website-files.com/62b38c698569747d49fc8e96/62bb2bb9bf06b0159eaa704f_icon-4-features-v3-starup-template.svg"
                            loading="eager" alt="Deal Tracking - StarUp X Webflow Template" class="image cover"></div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <h3>Deal tracking</h3>
                    <p class="mg-bottom-0">Lorem ipsum dolor sit amet consectet adipiscing elit tortor venenatis eros
                      vitae quis rincidunt dolor sit amet con dolor sit amet <span class="text-no-wrap">consectur
                        dol.</span></p>
                  </div>
                </div>
                <div id="w-node-_46d1ef9d-c5e2-7cff-b6a7-f4fecefbf068-ed89fd59" class="card feature-v2-grid">
                  <div class="mg-bottom-32px">
                    <div class="inner-container _95px center">
                      <div class="inner-container _80px---mbl center">
                        <div class="image-wrapper border-radius-28px"><img
                            src="https://assets.website-files.com/62b38c698569747d49fc8e96/62bb2bb8a12e41673e984c21_icon-2-features-v3-starup-template.svg"
                            loading="eager" alt="Pipeline Management - StarUp X Webflow Template" class="image cover">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <h3>Pipeline management</h3>
                    <p class="mg-bottom-0">Lorem ipsum dolor sit amet consectet adipiscing elit tortor venenatis eros
                      vitae quis rincidunt dolor sit amet con dolor sit amet <span class="text-no-wrap">consectur
                        dol.</span></p>
                  </div>
                </div>
                <div id="w-node-_46d1ef9d-c5e2-7cff-b6a7-f4fecefbf075-ed89fd59" class="card feature-v2-grid">
                  <div class="mg-bottom-32px">
                    <div class="inner-container _95px center">
                      <div class="inner-container _80px---mbl center">
                        <div class="image-wrapper border-radius-28px"><img
                            src="https://assets.website-files.com/62b38c698569747d49fc8e96/62bb2bb9ea410d7508264889_icon-5-features-v3-starup-template.svg"
                            loading="eager" alt="Reporting Dashboard - StarUp X Webflow Template" class="image cover">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <h3>Reporting dashboard</h3>
                    <p class="mg-bottom-0">Lorem ipsum dolor sit amet consectet adipiscing elit tortor venenatis eros
                      vitae quis rincidunt dolor sit amet con dolor sit amet <span class="text-no-wrap">consectur
                        dol.</span></p>
                  </div>
                </div>
                <div id="w-node-_46d1ef9d-c5e2-7cff-b6a7-f4fecefbf082-ed89fd59" class="card feature-v2-grid">
                  <div class="mg-bottom-32px">
                    <div class="inner-container _95px center">
                      <div class="inner-container _80px---mbl center">
                        <div class="image-wrapper border-radius-28px"><img
                            src="https://assets.website-files.com/62b38c698569747d49fc8e96/62bb2bb8bf06b068e6aa704e_icon-3-features-v3-starup-template.svg"
                            loading="eager" alt="Meeting Scheduling - StarUp X Webflow Template" class="image cover">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <h3>Meeting scheduling</h3>
                    <p class="mg-bottom-0">Lorem ipsum dolor sit amet consectet adipiscing elit tortor venenatis eros
                      vitae quis rincidunt dolor sit amet con dolor sit amet <span class="text-no-wrap">consectur
                        dol.</span></p>
                  </div>
                </div>
                <div id="w-node-_46d1ef9d-c5e2-7cff-b6a7-f4fecefbf08f-ed89fd59" class="card feature-v2-grid">
                  <div class="mg-bottom-32px">
                    <div class="inner-container _95px center">
                      <div class="inner-container _80px---mbl center">
                        <div class="image-wrapper border-radius-28px"><img
                            src="https://assets.website-files.com/62b38c698569747d49fc8e96/62bb2bb8a84a2f0d84653a07_icon-1-features-v3-starup-template.svg"
                            loading="eager" alt="Email Tracking - StarUp X Webflow Template" class="image cover"></div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <h3>Email tracking</h3>
                    <p class="mg-bottom-0">Lorem ipsum dolor sit amet consectet adipiscing elit tortor venenatis eros
                      vitae quis rincidunt dolor sit amet con dolor sit amet <span class="text-no-wrap">consectur
                        dol.</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute features-bg"></div>
    </section>
    {% include footer.html %}
  </div>
  {% include loader.html %}
  {% include scripts.html %}
</body>

</html>